@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('/assets/images/bg.jpg') center/cover no-repeat;
}

.app {
    min-height: 100vh;
}

.red-gradient {
    background: linear-gradient(92deg, #ff5956 2.87%, #ee1e38 96.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

:root {
    color-scheme: dark;
}

.glassy {
    @apply border border-gray-950 bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}
