@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('/assets/images/bg.jpg') center repeat;
}

.app {
    min-height: 100vh;
}

:root {
    color-scheme: dark;
}

.cyan-gradient {
    @apply bg-gradient-to-r from-green-800 to-cyan-500 bg-clip-text text-transparent;
}

.glassy {
    @apply border border-gray-950 bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}
